.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
.readmore {
  font-size: 0.875rem;
  text-align: center;
}

.readmore a {
  padding-bottom: 1px;
  color: #333;
  position: relative;
}

.readmore a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #333;
  transition: all 200ms ease;
}

.readmore a:hover::after {
  opacity: 0;
  transform: translateY(3px);
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.main {
  width: 65%;
}

.main article {
  margin-bottom: 80px;
}

.main .article_title {
  font-size: 1.5rem;
  margin: 10px 0 15px 0;
}

.main ul {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.main li {
  font-size: 0.875rem;
  margin-right: 20px;
}

.main .text {
  padding: 10px 40px 30px 40px;
}

.sidebar {
  width: 33%;
  padding: 20px;
}

.sidebar .side_title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.author {
  text-align: center;
  margin-bottom: 60px;
}

.author img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.author .profile {
  font-size: 0.875rem;
  text-align: left;
}

.ranking {
  text-align: center;
  margin-bottom: 60px;
}

.ranking article {
  margin-bottom: 30px;
}

.ranking .article_title {
  font-size: 0.875rem;
  font-weight: normal;
  text-align: left;
}

.archive {
  text-align: center;
  margin-bottom: 60px;
}

.archive ul {
  border-bottom: solid 1px #777;
}

.archive li {
  font-size: 0.875rem;
  border-top: solid 1px #777;
  padding: 20px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .main {
    width: 100%;
  }
  .sidebar {
    width: 100%;
    padding: 0;
  }
}
