* {
  margin: 0;
  padding: 0;
}

.main_content {
  color: #333;
  font-size: 1rem;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
}

a {
  color: #333;
  text-decoration: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 300px;
  height: 600px;
  background-color: rgb(197, 251, 245);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(42, 163, 179, 0.1);
  text-align: center;
}
