* {
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
  cursor: pointer;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
