* {
  margin: 0;
  padding: 0;
}

.main_content {
  color: #333;
  font-size: 1rem;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
