.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: white;
}

.login {
  background-color: rgb(122, 229, 250);
  font-weight: bold;
}

.logout {
  background-color: rgb(250, 176, 97);
  font-weight: bold;
}

.navi {
  background-color: #333;
}
.navi a {
  color: #fff;
}
.navi ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navi li {
  font-size: 0.875rem;
  padding: 10px 60px 10px 0;
}

.site_title {
  padding: 20px 16px;
  line-height: 1px;
}

.site_title a {
  display: inline-block;
}

.user {
  color: #fff;
}

.user_name {
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .navi {
    overflow-x: scroll;
  }
}
