.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: white;
}

.site_title {
  padding: 20px 16px;
  line-height: 1px;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.site_title a {
  display: inline-block;
}

.navi {
  background-color: #333;
}
.navi a {
  color: #fff;
}
.navi ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navi li {
  font-size: 0.875rem;
  padding: 10px 60px 10px 0;
}

@media screen and (max-width: 767px) {
  .navi {
    overflow-x: scroll;
  }
}
