.readmore {
  font-size: 0.875rem;
  text-align: center;
}

.readmore a {
  padding-bottom: 1px;
  color: #333;
  position: relative;
}

.readmore a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #333;
  transition: all 200ms ease;
}

.readmore a:hover::after {
  opacity: 0;
  transform: translateY(3px);
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.footer {
  font-size: 0.875rem;
  background-color: white;
}

.footer .content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer .item {
  width: 30%;
}

.footer .footer_title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.footer ul.about_list {
  margin: 20px 0;
}

.footer ul.about_list li {
  margin-bottom: 5px;
}

.footer ul.about_list .arrow {
  position: relative;
  display: inline-block;
  padding-left: 12px;
  color: #333;
}

.footer ul.about_list .arrow::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #333;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
}

.footer .menu_list > li {
  border-top: solid 1px #777;
  padding: 15px;
  text-align: left;
}

.footer .under {
  background-color: #333;
}

.footer .copyright {
  font-size: 0.75rem;
  text-align: center;
  padding: 20px 15px 15px;
  color: white;
}

.profile {
  padding: 10px;
  font-size: 0.875rem;
  text-align: left;
  line-height: 1.6;
}

.twitter_timeline {
}

@media screen and (max-width: 767px) {
  .footer .content {
    flex-direction: column;
  }
  .footer .item {
    width: 100%;
    margin-bottom: 30px;
  }
}
